<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <header>
            <section id="header-esq">
                <img src="./img/lebras.png" alt="" height="70px">
                <a href="/" class="btn-h">Home</a>
            </section>
            <section id="header-dir">
                <a href="/champs" class="btn-h">Últimos campeões</a>
                <a href="/sobre" class="btn-h">Sobre nós</a>
            </section>
        </header>
    </nav>
    <main>
        <section id="capa">
           <h1 class="ola">Olá!</h1>
           <h3 class="ola">Bem vindos(as)...</h3>
           <p id="ola">
               Nós criamos este site com intuito de trazer uma maior visibilidade para o Basquetebol, mostrando os últimos 4 campeões e alguns 'highlights'!
           </p>
        </section>
        <footer class="ft-home">
            <img src="./img/logo-footer.png" alt="" height="80px">
            <a href="https://www.todamateria.com.br/basquetebol/" class="btn-footer">Um pouco da história do Basquete|</a>
            <a href="/add" class="btn-footer">Adicionar um time|</a>
            <a href="https://pt.wikipedia.org/wiki/National_Basketball_Association" class="btn-footer">Sobre a NBA|</a>
            <a href="https://www.espn.com.br/nba/calendario" class="btn-footer">|Jogos da temporada|</a>
        </footer>
    </main>
   
    
    <script src="../js/script.js"></script>
</body>
</html>