<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Detalhes</title>
</head>
<body>
    <nav>
    <header id="header-sobre">
        <section id="header-esq">
            <img src="./img/logo-sobre.png" alt="" height="70px">
            <a href="/" class="btn-sobre">Home</a>
        </section>
        <section id="header-dir">
            <a href="/champs" class="btn-sobre">Voltar para Campeões</a>
        </section>
        </header>
    </nav>
    <main class="main-sobre">
        <section class="bruno">
            <img id="img_bruno" src="./img/bruno.jpg"  alt="" width="150px" height="150px">
            <h1 class="txt_bruno">BRUNO BRITO</h1>
            <p class="txt_bruno" id="bbruno">Moro em São Paulo, tenho 17 anos e vivo aqui desde que nasci! Sempre fui uma pessoa que gosta de tecnologia, e tenho alguns hobbies como tocar instrumentos, piano, violino, viola e violoncelo.</p>
            <a href="https://www.instagram.com/brunoobritt_/" class="links"><img src="./img/instagram-sobre.png" alt="" height="30px"></a>
            <a href="https://www.linkedin.com/in/bruno-brito-1a6b45149/" class="links"><img src="./img/inkedin-sobre.png" alt="" height="30px"></a>
            <a href="https://github.com/brunoosb" class="links"><img src="./img/github-sobre.png" alt="" height="30px"></a>
        </section>
        <section class="brayan">
            <img id="img_brayan" src="./img/brayann.jpeg"  alt="" width="150px" height="150px">
            <h1 class="txt_brayan">BRAYAN HENRIQUE</h1>
            <p class="txt_brayan" id="bbrayan">Do litoral do Paraná, tenho 20 anos, devido a algumas cirurgias passei muito tempo em casa, criando assim uma afinidade muito grande com a tecnologia num geral. Amo muito cozinhar, viajar e uma roda de amigos pra coversar!</p>
            <a href="https://www.instagram.com/chocottone_/" class="links"><img src="./img/instagram-sobre.png" alt="" height="30px"></a>
            <a href="https://www.linkedin.com/in/brayan-henrique-586029180/" class="links"><img src="./img/linkedin-sobre.png" alt="" height="30px"></a>
            <a href="https://github.com/brabrahen" class="links"><img src="./img/github-sobre.png" alt="" height="30px"></a>
        </section>


    </main>
    <footer class="footer-sobre"> 
        <img src="./img/logo-footer.png" alt="" height="80px">
        <a href="https://www.todamateria.com.br/basquetebol/" class="btn-sobre">Um pouco da história do Basquete| </a>
        <a href="/add" class="btn-sobre">Adicionar um time|</a>
        <a href="https://pt.wikipedia.org/wiki/National_Basketball_Association" class="btn-sobre">Sobre a NBA|</a>
        <a href="https://www.espn.com.br/nba/calendario" class="btn-sobre">|Jogos da temporada|</a>
    </footer>